// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* 
    primary(
        #01080E 
        #011627 
        #011221
    )

    secondary (
        #607B96
        #3C9D93
        #4D5BCE
        #FFFFFF
    )

    accent (
        #FEA55F
        #43D9AD
        #E99287
        #C98BDF
    )

    lines (
        #1E2D3D
    )

    gradients (
        #4D5BCE
        #43D9AD
    )
*/

$primary: #01080E; 
$primary-2: #011627; 
$primary-3: #011221;

$secondary: #607B96;
$secondary-2: #3C9D93;
$secondary-3: #4D5BCE;
$secondary-4: #FFFFFF;

$text: #E5E9F0;

$accent-1: #FEA55F;
$accent-2: #43D9AD;
$accent-3: #E99287;
$accent-4: #C98BDF;

$lines: #1E2D3D;

$gradient-1: #4D5BCE;
$gradient-2: #43D9AD;

$material-dark: ( 'background': #011627 );

.v-toolbar__content {
    border-bottom: 1px solid $lines;
    padding: 0;
}

.v-footer {
    border-top: 1px solid $lines !important;
    padding: 0;
}

p {
    color: $secondary;
}

i {
    font-size: 1.5rem;
}